In [87]:
import time
from time import strftime
from datetime import datetime 
from time import gmtime
import time
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import cluster, datasets, mixture
from sklearn.neighbors import kneighbors_graph
from sklearn.preprocessing import StandardScaler
from itertools import cycle, islice
import datetime
from sklearn.cluster import MeanShift, estimate_bandwidth

In [88]:
df = pd.read_csv('addidasprocessed.csv')

In [89]:
def get_rules(tree, feature_names, class_names):
    tree_ = tree.tree_
    feature_name = [
        feature_names[i] if i != _tree.TREE_UNDEFINED else "undefined!"
        for i in tree_.feature
    ]

    paths = []
    path = []
    
    def recurse(node, path, paths):
        
        if tree_.feature[node] != _tree.TREE_UNDEFINED:
            name = feature_name[node]
            threshold = tree_.threshold[node]
            p1, p2 = list(path), list(path)
            p1 += [f"({name} <= {np.round(threshold, 3)})"]
            recurse(tree_.children_left[node], p1, paths)
            p2 += [f"({name} > {np.round(threshold, 3)})"]
            recurse(tree_.children_right[node], p2, paths)
        else:
            path += [(tree_.value[node], tree_.n_node_samples[node])]
            paths += [path]
            
    recurse(0, path, paths)

    # sort by samples count
    samples_count = [p[-1][1] for p in paths]
    ii = list(np.argsort(samples_count))
    paths = [paths[i] for i in reversed(ii)]
    
    rules = []
    for path in paths:
        rule = ""
        for p in path[:-1]:
            if rule != "":
                rule += " & "
            rule += str(p.strip('()'))
        rules += [rule]
        
    return rules

In [90]:
np.random.seed(0)

In [91]:
df.head()

,selling_price,original_price,average_rating,reviews_count,Discount_percentage,color_Beige,color_Black,color_Blue,color_Brown,color_Burgundy,...,Category_Soccer,Category_Sportswear,Category_Swim,Category_Training,Category_Women,Product_Type_Accessories,Product_Type_Clothing,Product_Type_Shoes,availability_InStock,availability_OutOfStock
0,40,69.008444,4.5,35,42.04,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,150,69.008444,4.8,4,-117.36,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,70,69.008444,4.9,42,-1.44,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,160,69.008444,3.7,7,-131.86,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,65,69.008444,4.7,11,5.81,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [92]:
X = df.drop('average_rating', axis =1)
y = df['average_rating']
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.tree import _tree

In [93]:
def dtc(X,y):
    start_time = datetime.datetime.now()
    
    feats = X.columns
    num = 9
    dtr = DecisionTreeRegressor(max_features= 'auto',
     max_leaf_nodes= num,
     min_samples_leaf= 10,
     min_samples_split= 5,
     splitter='best', random_state=69)
    dtr.fit(X,y)
    clustering_df = X.copy()
    clustering_df['LabelOfCluster'] = -1
    rules = get_rules(dtr, feats, None)
    i=0
    final_df = pd.DataFrame()
    for r in rules:
        #print(r)
        temp_df = clustering_df.query(r)
        temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
        final_df = final_df.append(temp_df)
        i=i+1
    end_time = datetime.datetime.now()
    time_diff = (end_time - start_time)
    return time_diff, final_df

In [94]:
dtc(X,y)

/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)

(datetime.timedelta(microseconds=35598),
      selling_price  original_price  reviews_count  Discount_percentage  \
 2               70       69.008444             42                -1.44
 3              160       69.008444              7              -131.86
 4               65       69.008444             11                 5.81
 6               80       69.008444             17               -15.93
 7               60       69.008444             16                13.05
 ..             ...             ...            ...                  ...
 624             56       70.000000              1                20.00
 646             56       70.000000              1                20.00
 773             36       44.000000              1                18.18
 776             28       40.000000              1                30.00
 807             60       75.000000              1                20.00

      color_Beige  color_Black  color_Blue  color_Brown  color_Burgundy  \
 2            0.0          0.0         0.0          0.0             0.0
 3            0.0          1.0         0.0          0.0             0.0
 4            0.0          0.0         1.0          0.0             0.0
 6            0.0          1.0         0.0          0.0             0.0
 7            0.0          1.0         0.0          0.0             0.0
 ..           ...          ...         ...          ...             ...
 624          0.0          1.0         0.0          0.0             0.0
 646          0.0          0.0         0.0          0.0             0.0
 773          0.0          0.0         0.0          0.0             0.0
 776          0.0          1.0         0.0          0.0             0.0
 807          0.0          0.0         0.0          0.0             0.0

      color_Gold  ...  Category_Sportswear  Category_Swim  Category_Training  \
 2           0.0  ...                  0.0            0.0                0.0
 3           0.0  ...                  0.0            0.0                0.0
 4           0.0  ...                  0.0            0.0                0.0
 6           0.0  ...                  0.0            0.0                0.0
 7           0.0  ...                  0.0            0.0                0.0
 ..          ...  ...                  ...            ...                ...
 624         0.0  ...                  0.0            0.0                0.0
 646         0.0  ...                  0.0            0.0                0.0
 773         0.0  ...                  0.0            0.0                0.0
 776         0.0  ...                  0.0            0.0                0.0
 807         0.0  ...                  0.0            0.0                0.0

      Category_Women  Product_Type_Accessories  Product_Type_Clothing  \
 2               0.0                       0.0                    1.0
 3               0.0                       0.0                    0.0
 4               0.0                       0.0                    1.0
 6               0.0                       0.0                    1.0
 7               0.0                       0.0                    1.0
 ..              ...                       ...                    ...
 624             1.0                       0.0                    1.0
 646             1.0                       0.0                    1.0
 773             0.0                       0.0                    1.0
 776             0.0                       0.0                    1.0
 807             1.0                       0.0                    1.0

      Product_Type_Shoes  availability_InStock  availability_OutOfStock  \
 2                   0.0                   1.0                      0.0
 3                   1.0                   1.0                      0.0
 4                   0.0                   1.0                      0.0
 6                   0.0                   1.0                      0.0
 7                   0.0                   1.0                      0.0
 ..                  ...                   ...                      ...
 624                 0.0                   1.0                      0.0
 646                 0.0                   1.0                      0.0
 773                 0.0                   1.0                      0.0
 776                 0.0                   1.0                      0.0
 807                 0.0                   1.0                      0.0

      LabelOfCluster
 2                 0
 3                 0
 4                 0
 6                 0
 7                 0
 ..              ...
 624               8
 646               8
 773               8
 776               8
 807               8

 [845 rows x 39 columns])

In [95]:
from sklearn import cluster

def kmeans(X,n_clusters):
    start_time = datetime.datetime.now()
    k_means = cluster.MiniBatchKMeans(n_clusters=n_clusters,random_state=69)
    k_means.fit(X)
    clustering_df = X.copy()
    clustering_df['LabelOfCluster'] = -1
    labels = k_means.predict(X)
    clustering_df['LabelOfCluster']= labels   
    end_time = datetime.datetime.now()
    time_diff = (end_time - start_time)
    return time_diff

In [22]:

def Mshift(X , bandwidth):
    start_time = datetime.datetime.now()
    quantile = 0.3
    bandwidth = cluster.estimate_bandwidth(X, quantile=quantile)
    ms = MeanShift(bandwidth=bandwidth, bin_seeding=True)
    ms.fit(X)
    labels = ms.predict(X)
    clustering_df = X.copy()
    clustering_df['LabelOfCluster'] = -1
    clustering_df['LabelOfCluster']= labels
    end_time = datetime.datetime.now()
    time_diff = (end_time - start_time)
    return time_diff

In [96]:
def dbscan(X,eps=10):
    start_time = datetime.datetime.now()
    dbscan = cluster.DBSCAN(eps=eps)
    #dbscan.fit(X)
    labels = dbscan.fit_predict(X)
    clustering_df = X.copy()
    clustering_df['LabelOfCluster'] = -1
    clustering_df['LabelOfCluster']= labels
    end_time = datetime.datetime.now()
    time_diff = (end_time - start_time)
    return time_diff

In [97]:
from sklearn.neighbors import kneighbors_graph


def hierarchical(X, n_clusters):
    connectivity = kneighbors_graph(X, n_neighbors=3, include_self=False)
    start_time = datetime.datetime.now()
    ward = cluster.AgglomerativeClustering(n_clusters=n_clusters, linkage="ward", connectivity=connectivity)
    labels = ward.fit_predict(X)
    clustering_df = X.copy()
    clustering_df['LabelOfCluster'] = -1
    clustering_df['LabelOfCluster']= labels
    end_time = datetime.datetime.now()
    time_diff = end_time - start_time
    return time_diff

In [98]:
from sklearn import cluster, datasets, mixture
import datetime
def gmm(X, n_clusters):
    start_time = datetime.datetime.now()
    gmm = mixture.GaussianMixture(n_components=n_clusters, covariance_type="full", random_state=69)
    gmm.fit(X)
    labels = gmm.predict(X)
    clustering_df= X.copy()
    clustering_df['LabelOfCluster'] = -1
    clustering_df['LabelOfCluster']= labels
    end_time = datetime.datetime.now()
    time_diff = (end_time - start_time)
    return time_diff

In [99]:
def birch(X, n_clusters):
    start_time = datetime.datetime.now()
    birch = cluster.Birch(n_clusters=n_clusters)
    birch.fit(X)
    labels = birch.fit_predict(X)
    clustering_df = X.copy()
    clustering_df['LabelOfCLuster'] = -1
    clustering_df['LabelOfCluster'] = labels
    end_time = datetime.datetime.now()
    time_diff = end_time- start_time
    return time_diff

In [100]:
time_dtc = dtc(X,y)
time_km = kmeans(X,n_clusters=5)
time_ms = Mshift(X, bandwidth=bandwidth)
time_dbscan = dbscan(X,eps=0.8)
time_hier = hierarchical(X,n_clusters=5)
time_gmm = gmm(X,n_clusters=5)
time_birch = birch(X,n_clusters=5)

/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/Users/aryanchaudhary/opt/anaconda3/envs/Project/lib/python3.8/site-packages/sklearn/cluster/_agglomerative.py:245: UserWarning: the number of connected components of the connectivity matrix is 42 > 1. Completing it to avoid stopping the tree early.
  connectivity, n_connected_components = _fix_connectivity(

In [102]:
data = [['DTC',time_dtc.microseconds],['Kmeans',time_km.microseconds],['MeanShift',time_ms.microseconds],
        ['DBSCAN',time_dbscan.microseconds],['Hierarchical',time_hier.microseconds], ['GMM',time_gmm.microseconds]
       , ['Birch',time_birch.microseconds]]
addidas = pd.DataFrame(data,columns=['Model','Timeinms'])

AttributeError: 'tuple' object has no attribute 'microseconds'

In [103]:
addidas

          Model  Timeinms
0           DTC     46812
1        Kmeans     34019
2     MeanShift     64216
3        DBSCAN      8258
4  Hierarchical    124472
5           GMM     59661
6         Birch    129691

In [104]:
absent = pd.read_csv('formatted_shubham.csv')

In [105]:
absent.columns

Index(['Unnamed: 0', 'Reason_for_absence', 'Month_of_absence', 'Seasons',
       'Transportation_expense', 'Distance_from_Residence_to_Work',
       'Service_time', 'Age', 'Work_load_Average/day ', 'Hit_target',
       'Disciplinary_failure', 'Education', 'Son', 'Social_drinker',
       'Social_smoker', 'Pet', 'Weight', 'Height', 'Body_mass_index',
       'Absenteeism_time_in_hours'],
      dtype='object')

In [106]:
absent.rename(columns={'Work_load_Average/day ':'Work_load_Averageperday'}, inplace=True)

In [107]:
X = absent.drop(['Unnamed: 0', 'Absenteeism_time_in_hours'], axis =1)
y = absent['Absenteeism_time_in_hours']

In [108]:
X

,Reason_for_absence,Month_of_absence,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work_load_Averageperday,Hit_target,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index
0,26,7,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30
1,0,7,1,118,13,18,50,239.554,97,1,1,1,1,0,0,98,178,31
2,23,7,1,179,51,18,38,239.554,97,0,1,0,1,0,0,89,170,31
3,7,7,1,279,5,14,39,239.554,97,0,1,2,1,1,0,68,168,24
4,23,7,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,14,7,1,289,36,13,33,264.604,93,0,1,2,1,0,1,90,172,30
736,11,7,1,235,11,14,37,264.604,93,0,3,1,0,0,1,88,172,29
737,0,0,1,118,14,13,40,271.219,95,0,1,1,1,0,8,98,170,34
738,0,0,2,231,35,14,39,271.219,95,0,1,2,1,0,2,100,170,35
739,0,0,3,179,45,14,53,271.219,95,0,1,1,0,0,1,77,175,25

In [109]:
time_dtc = dtc(X,y)
time_km = kmeans(X,n_clusters=5)
time_ms = Mshift(X, bandwidth=bandwidth)
time_dbscan = dbscan(X,eps=0.8)
time_hier = hierarchical(X,n_clusters=5)
time_gmm = gmm(X,n_clusters=5)
time_birch = birch(X,n_clusters=5)

/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/Users/aryanchaudhary/opt/anaconda3/envs/Project/lib/python3.8/site-packages/sklearn/cluster/_agglomerative.py:245: UserWarning: the number of connected components of the connectivity matrix is 47 > 1. Completing it to avoid stopping the tree early.
  connectivity, n_connected_components = _fix_connectivity(

In [110]:
data = [['DTC',time_dtc.microseconds],['Kmeans',time_km.microseconds],['MeanShift',time_ms.microseconds],
        ['DBSCAN',time_dbscan.microseconds],['Hierarchical',time_hier.microseconds], ['GMM',time_gmm.microseconds]
       , ['Birch',time_birch.microseconds]]
absent = pd.DataFrame(data,columns=['Model','Timeinms'])

AttributeError: 'tuple' object has no attribute 'microseconds'

In [111]:
absent

,Unnamed: 0,Reason_for_absence,Month_of_absence,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work_load_Averageperday,Hit_target,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
0,0,26,7,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30,4
1,1,0,7,1,118,13,18,50,239.554,97,1,1,1,1,0,0,98,178,31,0
2,2,23,7,1,179,51,18,38,239.554,97,0,1,0,1,0,0,89,170,31,2
3,3,7,7,1,279,5,14,39,239.554,97,0,1,2,1,1,0,68,168,24,4
4,4,23,7,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,735,14,7,1,289,36,13,33,264.604,93,0,1,2,1,0,1,90,172,30,8
736,736,11,7,1,235,11,14,37,264.604,93,0,3,1,0,0,1,88,172,29,4
737,737,0,0,1,118,14,13,40,271.219,95,0,1,1,1,0,8,98,170,34,0
738,738,0,0,2,231,35,14,39,271.219,95,0,1,2,1,0,2,100,170,35,0
739,739,0,0,3,179,45,14,53,271.219,95,0,1,1,0,0,1,77,175,25,0

In [112]:
personality = pd.read_csv('csv_vimal.csv')
per_y = pd.read_csv('csv_vimal_y.csv')

In [113]:
per_y.head()

   Unnamed: 0   Income
0           0  58138.0
1           1  46344.0
2           2  71613.0
3           3  26646.0
4           4  58293.0

In [114]:
personality.head()

,Unnamed: 0,ID,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,...,Education_3,Education_4,Marital_Status_0,Marital_Status_1,Marital_Status_2,Marital_Status_3,Marital_Status_4,Marital_Status_5,Marital_Status_6,Marital_Status_7
0,0,5524,0,0,58,635,88,546,172,88,...,0,0,0,0,0,0,1,0,0,0
1,1,2174,1,1,38,11,1,6,2,1,...,0,0,0,0,0,0,1,0,0,0
2,2,4141,0,0,26,426,49,127,111,21,...,0,0,0,0,0,0,0,1,0,0
3,3,6182,1,0,26,11,4,20,10,3,...,0,0,0,0,0,0,0,1,0,0
4,4,5324,1,0,94,173,43,118,46,27,...,0,1,0,0,0,1,0,0,0,0

In [115]:
X = personality.drop('Unnamed: 0', axis =1)
y = per_y['Income']

In [116]:
time_dtc = dtc(X,y)
time_km = kmeans(X,n_clusters=5)
time_ms = Mshift(X, bandwidth=bandwidth)
time_dbscan = dbscan(X,eps=0.8)
time_hier = hierarchical(X,n_clusters=5)
time_gmm = gmm(X,n_clusters=5)
time_birch = birch(X,n_clusters=5)

/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['LabelOfCluster'].replace(-1, i, inplace=True)
/var/folders/wg/94h2_90s4c1dbvpqcr782zph0000gn/T/ipykernel_11664/667077213.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(temp_df)
/Users/aryanchaudhary/opt/anaconda3/envs/Project/lib/python3.8/site-packages/sklearn/cluster/_agglomerative.py:245: UserWarning: the number of connected components of the connectivity matrix is 2 > 1. Completing it to avoid stopping the tree early.
  connectivity, n_connected_components = _fix_connectivity(

In [120]:
data = [['DTC',time_dtc.microseconds],['Kmeans',time_km.microseconds],['MeanShift',time_ms.microseconds],
        ['DBSCAN',time_dbscan.microseconds],['Hierarchical',time_hier.microseconds], ['GMM',time_gmm.microseconds]
       , ['Birch',time_birch.microseconds]]
vimal = pd.DataFrame(data,columns=['Model','Timeinms'])

AttributeError: 'tuple' object has no attribute 'microseconds'

In [121]:
time_birch.microseconds

469652